.form__input {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: var(--fs-small);

    padding: .5rem;
    width: 50%;
}

@media screen and (min-width: 481px) {
    .form__input {
        width: 70%;
    }
}