.todoWrapper {
    background-color: var(--dark-purple);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    
    margin: 0 auto;
    height: 400px;
    width: 90%;
}

.todoForm {
    display: inherit;
    justify-content: space-between;

    width: 70%;
    margin-bottom: 2rem;
}

.todoForm__button {
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0 .5rem;
}

@media screen and (min-width: 481px) {
    .todoWrapper {
        width: 70%;
    }

    .todoForm {
        justify-content: space-between;
    }
}