.todoWrapper {
    background-color: #805AD5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: 400px;
    width: 80%;
}

.todoForm {
    display: inherit;
    width: 70%;
}