.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 200px; 
    width: 70%;
    overflow: auto;
}

.list::-webkit-scrollbar {
    background-color: var(--light-purple);
    scrollbar-color: var(--white);
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar-thumb {
    background-color: var(--white);
}

/* For Firefox */
::-moz-scrollbar-thumb {
    background-color: var(--white);
}

/* For Edge */
::-ms-scrollbar-thumb {
    background-color: var(--white);
}

/* For Opera */
::-o-scrollbar-thumb {
    background-color: var(--white);
}