.checkboxItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.textInput {
    background-color: var(--white);
    color: var(--black);

    font-size: var(--fs-small);

    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: .5rem;
    width: 50%;
}

.checkboxItem button {
    background-color: var(--purple);
    background-image: url('../../../public/images/trash.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    
    margin-right: 10px;
    width: 1.5rem;
}